.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

#product_list{
  display: none;
}

/*body{
  background: url(https://images.pexels.com/photos/46792/the-ball-stadion-football-the-pitch-46792.jpeg?h=350&auto=compress&cs=tinysrgb) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}*/

.navbar{
  padding: 0;
}

#tabs{
  background: none;
  border: none;
  width: 500px;
}

#tabs-1, #tabs-2, #tabs-3{
  padding: 0;
}

#product_list{
  display: none;
}
