@import "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css";

.mobile-social-share {
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
}

.share-group {
    float: right;
}

.mobile-social-share ul {
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-google {
    background-color: #DD3F34 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-linkedin {
    background-color: #1884BB !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-pinterest {
    background-color: #CC1E2D !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color:#FFFFFF!important;
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}
